# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
*.launch
.settings/
*.sublime-workspace

# misc
npm-debug.log
yarn-error.log
/typings

# System Files
.DS_Store
Thumbs.db
